body{
  background: #C6F6FF;
}

p{
  position: relative;
  top: 23em;
  text-align: center;
  margin-left: 30em;
  margin-right: 30em;
  font-family: raleway;
  font-weight: 70;
  font-size: 15px;
}

#return{
  position: relative;
  top: 31.7em;
  left: 27.5em;
  height: 1em;
  width: 1em;
}

#next{
  position: relative;
  top: 30.7em;
  left: 47.5em;
  height: 1em;
  width: 1em;
}


